<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Study</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;800&family=Merriweather:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <section id="case-study-landing">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg sticky-top">
            <!-- Wrapping in container gives a little padding -->
            <div class="container">
                <a href="../index.html" class="navbar-brand">NanoLambda</a>
                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="./aboutus.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="./product.html" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="./casestudy.html" class="nav-link">Case Study</a>
                        </li>
                        <li class="nav-item">
                            <a href="./contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="case-study-1">
            <div class="container d-md-flex">
                <div class="row m-5 align-items-center">
                    <div class="col-md-4 case-landing">
                        <p class="lead case-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae velit sunt et
                        sit aliquam dolorem iste doloremque aliquid eum? Blanditiis, delectus? Tenetur porro
                        aspernatur repellendus eveniet perferendis laboriosam exercitationem architecto
                        id officia beatae sapiente modi sunt voluptatum fugiat laborum soluta qui vero,</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case-study" id="case-study-2">
        <img class="divider-img img-fluid" src="../images/honey.jpg" alt="honey quality inspection">
        <div class="case-summary-container d-flex">
            <div class="case-summary p-5">
                <h1>Food Quality Monitoring</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae velit sunt et
                    sit aliquam dolorem iste doloremque aliquid eum? Blanditiis, delectus? Tenetur porro
                    aspernatur repellendus eveniet perferendis laboriosam exercitationem architecto
                    id officia beatae sapiente modi sunt voluptatum fugiat laborum soluta qui vero,
                    asperiores dolor reiciendis. Ratione expedita esse tempore quaerat ipsa numquam a
                    illo ad eius consectetur iusto at dolores, doloremque sapiente atque officiis ea
                    totam? Dicta, sit alias? Mollitia necessitatibus debitis commodi sit dolorem
                    repellat expedita ex placeat, fuga maxime illo inventore perferendis voluptate eum
                    sed fugiat distinctio quam tenetur molestiae quo! Deleniti laboriosam sint quos
                    sequi aspernatur!
                </p>
            </div>
        </div>
    </section>
    <section class="case-study" id="case-study-3">
        <img class="divider-img img-fluid" src="../images/water.jpeg" alt="water quality monitoring">
        <div class="case-summary-container d-flex">
            <div class="case-summary p-5">
                <h1>Water Quality Monitoring</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae velit sunt et
                    sit aliquam dolorem iste doloremque aliquid eum? Blanditiis, delectus? Tenetur porro
                    aspernatur repellendus eveniet perferendis laboriosam exercitationem architecto
                    id officia beatae sapiente modi sunt voluptatum fugiat laborum soluta qui vero,
                    asperiores dolor reiciendis. Ratione expedita esse tempore quaerat ipsa numquam a
                    illo ad eius consectetur iusto at dolores, doloremque sapiente atque officiis ea
                    totam? Dicta, sit alias? Mollitia necessitatibus debitis commodi sit dolorem
                    repellat expedita ex placeat, fuga maxime illo inventore perferendis voluptate eum
                    sed fugiat distinctio quam tenetur molestiae quo! Deleniti laboriosam sint quos
                    sequi aspernatur!
                </p>
            </div>
        </div>
    </section>
    <section class="case-study" id="case-study-4">
        <img class="divider-img img-fluid" src="../images/greenhouse.jpeg" alt="greenhouse with lighting">
        <div class="case-summary-container d-flex">
            <div class="case-summary p-5">
                <h1>Agriculture - Precision Lighting</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae velit sunt et
                    sit aliquam dolorem iste doloremque aliquid eum? Blanditiis, delectus? Tenetur porro
                    aspernatur repellendus eveniet perferendis laboriosam exercitationem architecto
                    id officia beatae sapiente modi sunt voluptatum fugiat laborum soluta qui vero,
                    asperiores dolor reiciendis. Ratione expedita esse tempore quaerat ipsa numquam a
                    illo ad eius consectetur iusto at dolores, doloremque sapiente atque officiis ea
                    totam? Dicta, sit alias? Mollitia necessitatibus debitis commodi sit dolorem
                    repellat expedita ex placeat, fuga maxime illo inventore perferendis voluptate eum
                    sed fugiat distinctio quam tenetur molestiae quo! Deleniti laboriosam sint quos
                    sequi aspernatur!
                </p>
            </div>
        </div>
    </section>
    <section class="case-study" id="case-study-5">
        <img class="divider-img img-fluid" src="../images/makeup.jpg" alt="skintone color finder">
        <div class="case-summary-container d-flex">
            <div class="case-summary p-5">
                <h1>Skincare</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae velit sunt et
                    sit aliquam dolorem iste doloremque aliquid eum? Blanditiis, delectus? Tenetur porro
                    aspernatur repellendus eveniet perferendis laboriosam exercitationem architecto
                    id officia beatae sapiente modi sunt voluptatum fugiat laborum soluta qui vero,
                    asperiores dolor reiciendis. Ratione expedita esse tempore quaerat ipsa numquam a
                    illo ad eius consectetur iusto at dolores, doloremque sapiente atque officiis ea
                    totam? Dicta, sit alias? Mollitia necessitatibus debitis commodi sit dolorem
                    repellat expedita ex placeat, fuga maxime illo inventore perferendis voluptate eum
                    sed fugiat distinctio quam tenetur molestiae quo! Deleniti laboriosam sint quos
                    sequi aspernatur!
                </p>
            </div>
        </div>
    </section>
    <section class="case-study" id="case-study-6">
        <img class="divider-img img-fluid" src="../images/weight-scale.jpg" alt="personalized wellness">
        <div class="case-summary-container d-flex">
            <div class="case-summary p-5">
                <h1>Personalized Wellness</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae velit sunt et
                    sit aliquam dolorem iste doloremque aliquid eum? Blanditiis, delectus? Tenetur porro
                    aspernatur repellendus eveniet perferendis laboriosam exercitationem architecto
                    id officia beatae sapiente modi sunt voluptatum fugiat laborum soluta qui vero,
                    asperiores dolor reiciendis. Ratione expedita esse tempore quaerat ipsa numquam a
                    illo ad eius consectetur iusto at dolores, doloremque sapiente atque officiis ea
                    totam? Dicta, sit alias? Mollitia necessitatibus debitis commodi sit dolorem
                    repellat expedita ex placeat, fuga maxime illo inventore perferendis voluptate eum
                    sed fugiat distinctio quam tenetur molestiae quo! Deleniti laboriosam sint quos
                    sequi aspernatur!
                </p>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 mb-5">
                    <h2>About us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nisi fuga placeat
                        deleniti pariatur autem esse optio similique nobis odit officiis sapiente tempora,
                        ab doloremque vel nostrum eligendi hic maiores.
                    </p>
                </div>

                <div class="col-md-3 mb-5">
                    <h2>Quick Links</h2>
                    <ul class="list-unstyled footer-link">
                        <li><a href="">About us</a></li>
                        <li><a href="">Testimonials</a></li>
                        <li><a href="">Our Pets</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-1 mb-5 me-auto">

                </div>

                <div class="col-md-5 mb-5 me-auto">
                    <h2>Contact &amp; Address</h2>
                    <ul class="list-unstyled footer-link">
                        <li class="d-flex">
                            <span class="me-3">Address:</span>
                            <span class="text-white"> 5000 Chestnut Rd, Lansing, Michigan</span>
                        </li>
                        <li class="d-flex">
                            <span class="me-3">Telephone:</span>
                            <span class="text-white"> 5000 Chestnut Rd, Lansing, Michigan</span>
                        </li>
                        <li class="d-flex">
                            <span class="me-3">Email:</span>
                            <span class="text-white"> 5000 Chestnut Rd, Lansing, Michigan</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-12 text md center text-center">
                    <p>This template is made by nanoLambda</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1100,
            // offset: 200,
            delay: 300
        });
    </script>
</body>

</html>